:root {
    --white: #ffffff;
    --black: #000000;
    --grey100: #f2f4f6;
    --grey200: #e5e8eb;
    --grey400: #b0b8c1;
    --grey700: #4e5968;
    --greyOpacity50: rgba(0, 23, 51, 0.02);
    --blue600: #3182f6;
    --blue700: #1b64da;
}

body {
    background-image: url('https://static.toss.im/ml-illust/img-back_002.jpg');
    font-family: Toss Product Sans, -apple-system, BlinkMacSystemFont,
    Bazier Square, Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
    color: #4e5968;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.p {
    padding: 0;
    margin: 0;
    font-family: inherit; /* Use inherited font family */
    color: inherit; /* Use inherited color */
}

.h4 {
    font-size: 20px;
    font-weight: 700;
    color: #333D4B;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.button {
    color: #f9fafb;
    background-color: #3182f6;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    border: 0 solid transparent;
    user-select: none;
    transition: background 0.2s ease, color 0.1s ease;
    text-decoration: none;
    border-radius: 7px;
    padding: 11px 16px;
    margin: 30px 0; /* Adjust margin for spacing */
}

.button:hover {
    color: #fff;
    background-color: #1b64da;
}

.title {
    margin: 0 0 4px;
    font-size: 24px;
    font-weight: 600;
    color: #4e5968;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box_section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.06);
    padding: 40px 30px 50px 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #333D4B;
}

.input-container {
    padding-left: 25px;
    margin-bottom: 20px; /* Space between input and button */
}

.input-label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px; /* Adjusted to match other text styles */
    color: #4e5968;
    font-weight: bold; /* Make the text bold */
    padding-left: 10px; /* Move text 10px to the left */
}

.donation-input {
    padding: 8px 15px; /*12*/
    border: 1px solid #d1d6db;
    border-radius: 6px;
    font-size: 16px; /* Adjusted font size to match other text styles */
    color: #4e5968;
    /*width: calc(100% - 40px);*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    margin: 0 auto; /* Align input box with the label */
}

.donation-input:focus {
    outline: none;
    border-color: #3182f6;
    box-shadow: 0 0 5px rgba(49, 130, 246, 0.5);
}

.donation-input::placeholder {
    color: #b0b8c1;
}

.player-avatar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #3182f6;
}